{% extends 'base.html.twig' %}

{% block title %}New TypeKitchen{% endblock %}

{% block body %}
    <h1>Create new TypeKitchen</h1>

    {{ include('type_kitchen/_form.html.twig') }}

    <a href="{{ path('app_type_kitchen_index') }}">back to list</a>
{% endblock %}
