{% extends 'base.html.twig' %}

{% block title %}Edit ClientType{% endblock %}

{% block body %}
    <h1>Edit ClientType</h1>

    {{ include('client_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_client_type_index') }}">back to list</a>

    {{ include('client_type/_delete_form.html.twig') }}
{% endblock %}
