{% extends 'base.html.twig' %}

{% block title %}New ProgrammedActivity{% endblock %}

{% block body %}
    <h1>Create new ProgrammedActivity</h1>

    {{ include('programmed_activity/_form.html.twig') }}

    <a href="{{ path('app_programmed_activity_index') }}">back to list</a>
{% endblock %}
