{% extends 'base.html.twig' %}

{% block title %}New PropertyClass{% endblock %}

{% block body %}
    <h1>Create new PropertyClass</h1>

    {{ include('property_class/_form.html.twig') }}

    <a href="{{ path('app_property_class_index') }}">back to list</a>
{% endblock %}
