{% extends 'base.html.twig' %}

{% block title %}Edit Units{% endblock %}

{% block body %}
    <h1>Edit Units</h1>

    {{ include('units/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
